@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    
    background: -webkit-linear-gradient(to right, hsl(198, 44%, 11%), hsl(195, 35%, 19%), hsl(198, 39%, 28%));
    background: linear-gradient(to right, hsl(198, 44%, 11%), hsl(195, 35%, 19%), hsl(198, 39%, 28%));

    color: hsl(0, 0%, 100%);
    
}

h2 {
    margin-bottom: 15px;
}

/**/

.appContainer {
    border: 2px hsl(0, 0%, 100%) solid;
    max-width: 650px;
    background:hsl(198, 39%, 28%);

    display: flex;
    flex-direction: column;
}

.appTaskArea {
    background: hsla(197, 26%, 19%, 0.7);
    border: 2px hsl(0, 0%, 100%) solid;
}

.appContainer .mynavbar {
    display: flex;
    align-items: center;
}


/**/

/*#addBtn*/ #clAlltaskBtn {
    border: 3px #fff solid;
    border-radius: 15px;
    background: #000;
    width: 200px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    margin: 6px;
    
}

/*#addBtn:hover*/ #clAlltaskBtn:hover {
    opacity: 0.7;
    transition: 0.2s;
}

/*#addBtn:active*/ #clAlltaskBtn:active {
    opacity: 0.7;
    background:hsl(150, 35%, 19%);
    transition: 0.2s;
}